# Compose vars
export PROJECT_NAME="qat-computer"
export CONTAINER_NAME="qatcomputer"
export FULL=false
export NOFLAGCMD=""
export SUBCMD="compute"
export FLAGCMD="-conf /etc/qat-computer/conf/conf_docker.yaml"